<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <ul class="nav navbar-top-links navbar-right">
            <li class="">
                <a href="{{ url("leboncoin_index") }}"><span class="nav-label">Annonces</span></a>
            </li>
            <li class="">
                <a href="{{ url("leboncoin_edit") }}"><span class="nav-label">Déposer une annonces</span></a>
            </li>
        </ul>
    </nav>
</div>
