{% extends "LeBonCoinBundle::layout.html.twig" %}

{% block title %}Poster une annonce{% endblock %}

{% block body %}
    <h1>Ajouter une annonce</h1>
    {{ form_start(form) }}
    {{ form_end(form) }}
{% endblock %}
